<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Global Identification System</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="base">
            <div class="panel">
                <div class="panelcontent">
                    <div class="panellogo">
                        <a href=""><img src="img/LOGO_FINAL.png" alt=""></a>
                    </div>
                    <div class="panelmenu">
                        <div class="menucontent">
                            <span class="menu link">
                                <a href="#homeid">Home</a>
                            </span>
                            <span class="menu link">
                                <a href="#loginid">Login</a>
                            </span>
                            <span class="menu link">
                                <a href="#chalid">Challenges</a>
                            </span>
                            <span class="menu link">
                                <a href="#featid">Features</a>
                            </span>
                            <!--<span class="menu">about us</span>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="body" id="homeid">
                <div class="home">
                    <div class="hometitle">
                        Welcome to Global Identification System
                    </div>
                    <div class="hometext"> 
                        <p class="homep">Global Identification System is an identification system to identify and to provide a unique identifier to all and any entity/person that is a participant in the global financial markets and transactions.</p>
                        <p class="homep">Identity is a critical concept in interactions between any set of objects that are involved in any form of formal-informal transactions and relationships in a market.</p>
                        <p class="homep">Any person/group/entity that participates in the global market needs an identity to be recognized. We provide them with a unique identifier to assist in being identified. Anyhow it is hard to be identified in the global market.</p>
                        <p class="homep">That's where we come in. We are focused on providing a person/entity with a unique identifier which assists them to be recognized in any market globally. </p>
                    </div>
                </div>
            </div>
            <div class="background" id="loginid">
                <div class="login">
                    <div class="loginhead">
                        Get Started
                    </div>
                    <div class="logintext">
                        Login your existing account or Sign up.
                    </div>
                    <div class="loginbuttons">
                        <a href="login" class="loginbuttona"><button type="submit" class="loginbutton">Login</button></a>
                        <a href="registration" class="loginbuttona"><button type="submit" class="loginbutton">Sign Up</button></a>
                    </div>
                </div>
            </div>
            <div class="body" id="chalid">
                <div class="chal">
                    <div class="chaltitle">
                        Challenges We Solve
                    </div>
                    <div class="chaltext">
                        <div class="chalul">
                            <ul>
                                <li>Providing an individual/company with a GIN(Global Identity Number), which can assist them to be identified in any market globally.</li>
                                <li>Help an entity/person by sharing just their GIN instead of sending all their information.</li>
                            </ul>
                        </div>
                        <div class="chalul">
                            <ul>
                                <li>Help an entity/person to evaluate other entity/individual based on their current relations and transactions in the market.<br></li>
                                <li>Help an entity/person that whats to develop/initiate a relationship/transactions with another entity/person.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background" id="featid">
                <div class="feat">
                    <div class="feathead">
                        Features
                    </div>
                    <div class="feattext">
                        <div class="featul">
                            <ul>
                                <li>Get a score based on the existing transactions.</li>
                                <li>Mutual and easy sharing of GIN with all trade connections.</li>
                            </ul>
                        </div>
                        <div>
                            <ul class="featul">
                                <li>Record of all the relationships of a entity/individual with all other entity/individual based on the transaction in the market.</li>
                                <li>Centralized system for completing all the formalities.</li>
                            </ul>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </body>
</html>