<html>
    <head>
        <title>User</title>
        <link rel="stylesheet" href="css/user.css">
    </head>
    <body>
        <div class="base">
            <div class="panel">
                <div class="panelcontent">
                    <div class="panellogo link">
                        <img src="img/LOGO_FINAL.png" alt="">
                    </div>
                    <div class="panelmenu">
                        <div class="menucontent">
                            <span class="menu">Welcome, <%= user %></span>
                            <span class="menu1 link"><a href="index">Signout</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background">
                <div class="body">
                    <div class="home ">
                        <ul>
                        <div class="hometext">
                            <li>Hey <%= user %>, Your Personal Information is verified and safe with us.</li>
                        </div><br><br>
                        <div class="hometext">
                            <li>
                            Global Identification System is your one stop place that keeps your information secure and helps you to get your verification done for any kinds of 
                            transactions that you make.
                            </li> 
                        </div><br><br>
                        <div class="hometext">
                            <li>
                            You can know shop without being risked for frauds, fake debits and other cyber crimes. Thank you
                            for connecting with us. 
                            </li>
                        </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
    </body>
</html>